extends layout

block content
  h1 Bienbenido a Futbol5 app
  p
  p Ingresa a tu cuenta  #{title}

  h3 Enlaces demo

  a(href="/login") Login
  p
  a(href="/canchas") Canchas
  p
  a(href="/toString") MostrameToString
