extends layout

block content
    div(class="container")
        form(class="form-signin", role="form")
            <p><img src="imagenes/comunidad.png" width="242" height="185"></p>
            <p><img src="imagenes/canchas-home.png" width="121" height="120" align="left"><img src="imagenes/mapas-home.png" width="124" height="120" align="right"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            
            <p>&nbsp;</p>
 