extends layout

block content
    div(class="container")
        form(class="form-signin",role="form",method="post",action="")

            <p><img src="/imagenes/iniciar sesión.jpg"  alt="" width="248" height="31" align="middle"/></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>USUARIO</strong></p>
            <p> 
            <input type="text" name="usuario"class="form-control" required autofocus>
            </p>
            <p><strong>CONTRASEÑA</strong></p>
            <p>
            <input type="password" name="password" class="form-control" required>
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><input type="image" src="/imagenes/tick.jpg"  alt="" width="59" height="56" align="right"/></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>